body {
  font-family: "Raleway", sans-serif;
  background: #d3d3d3;
  min-height: 100vh;
}
.w3-bar {
  margin-bottom: 20px;
}
.bgimg {
  background-image: url("./assets/images/medicine_bg.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.center-to-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
